@import "../../styles/variables";
@import "bulma/sass/utilities/_all.sass";

.projects {
    &__tech-list {
        padding: 1rem 0;
        margin: 0;
    }

    &__tech-filter {
        margin: 0 $tag-distance $tag-distance 0;
    }
}