@import "../../../styles/variables";
@import "../../../styles/mixins";

.language-select {
    padding: 0.5rem;
    position: relative;

    &--current,
    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:not(:last-of-type)::after {
        @include separator($primary);
    }
}