@import "../../../styles/variables";

.language-select {
    padding: 7px;
    position: relative;

    &--current {
        font-weight: bold;
    }

    &:not(:last-of-type)::after {
        content: '';
        position: absolute;
        right: -1px;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
        height: 18px;
        background-color: $primary;
    }
}