@import "../../../styles/variables";
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/elements/box.sass";

.skill-set {
    text-align: left;
    
    &__headline {
        font-family: 'Handlee', cursive;
        text-transform: uppercase;
        color: $primary;
    }
}