@import "../../styles/variables";
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/layout/hero.sass";

.hero {
    margin-bottom: 1rem;
    height: 192px;
    background-image: url("./hero.svg");
    background-repeat: no-repeat;
    background-position: center;

    &__title {
        text-transform: uppercase;
    }

    &__icon {
        margin-right: 20px;
    }
}