// Customize Bulma
$primary: #31708F;
$navbar-item-color: $primary;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: $primary;
$navbar-item-active-color: white;
$navbar-item-active-background-color: $primary;
$scheme-main: #f8f8f8;