// Customize Bulma
$primary: #31708F;
$primary-dark: #245269;
$scheme-main: #f8f8f8;

$navbar-item-color: $primary;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: $primary;
$navbar-item-active-color: white;
$navbar-item-active-background-color: $primary;

$content-heading-color: $primary;
$content-heading-weight: 500;
$card-header-padding: 1rem;

$title-family: 'Handlee', cursive;
$title-color: $primary;

$card-header-color: $primary;

// Other
$tag-distance: 0.5rem;