@import "../../styles/variables";
@import "bulma/sass/utilities/_all.sass";

.home {
    padding-top: 10px;

    &__divider {
        color: $primary;
        margin: 3rem 10rem;
    }

    &__title {
        text-transform: uppercase;
        margin-top: 2.5rem;

        &--right {
            text-align: right;
        }
    }

    &__image-wrapper {
        text-align: right;
    }

    &__image {
        width: 100%;
        max-width: 250px;
        height: auto;
    }

    &__links {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__link,
    &__link:visited {
        color: $primary;
    }

    &__link:hover,
    &__link:focus {
        color: $primary-dark;
    }
}