@import "../../styles/variables";
@import "bulma/sass/utilities/_all.sass";

.home {
    &__title {
        text-transform: uppercase;
    }

    &__intro {
        font-weight: bold;
        font-size: 1.5rem;
        color: $primary;
    }

    &__box-wrapper {

        @media only screen and (min-width: $tablet) {
            &:not(:first-of-type) {
                margin-top: -300px;
            }
        }
    }

    &__column {
        @media only screen and (min-width: $tablet) {
            &--0 {
                order: 1;
            }

            &--intro {
                order: 2;
            }
        }
    }

    &__icon-wrapper {
        text-align: center;
        font-size: 3rem;
        color: $primary;
    }

    &__links {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__link,
    &__link:visited {
        color: $primary;
    }

    &__link:hover,
    &__link:focus {
        color: $primary-dark;
    }
}