@import "../../styles/variables";
@import "../../styles/mixins";
@import "bulma/sass/utilities/_all.sass";

.footer {
    border-top: 4px solid $info;
    margin-top: 1rem;
    background-color: $primary;
    
    &::before {
        content: '';
        background-image: url('./footer.svg');
        background-repeat: no-repeat;
        height: 127px;
        width: 100%;
        display: block;
    }

    &__wrapper {
        color: $white;
        padding: 1rem;
        display: flex;
    }

    &__links {
        flex-grow: 1;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__link-item {
        display: inline-block;
        position: relative;
        padding-right: 0.5rem;

        &:not(:first-of-type) {
            padding-left: 0.5rem;
        }

        &:not(:last-of-type)::after {
            @include separator($white);
        }
    }

    &__link {
        color: white;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    &__copyright {
        flex-grow: 0;
    }
}